*{
    padding: 0;
    margin: 0;
}
.backgroundContainer{
    background-image: url(https://images.unsplash.com/photo-1624562641708-14121f5e4095?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1189&q=80);
    height: 100vh;
    background-attachment: fixed;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}